body{
    background-color:darkblue;
    font-family: 'Times New Roman', Times, serif;
    
}
.box{
    color: white;
    line-height: 1.5em;
}
h1{
    font-size: 40px;
}
.heading{
    color: green;
    font-size: 25px;

}
